In [1]:
2+2

4

In [2]:
4+4

8

In [3]:
4+4

8

In [4]:
4+4

4+4

8

In [5]:
age=18

In [6]:
name='Ankit'

In [7]:
colour='red'

In [8]:
is_sleeping=False

In [9]:
x=1
y=123456789098765431
z=-1234567

examples of data types

x=1
y= 12345678912345678998765
z=-3255522

In [10]:
x=1.10
y=1.0
z=-35.59
z=87.7e100

In [11]:
name=" madan mohan malviya"
color='red'
Institute='digipodium'

In [12]:
is_coding=True
is_fun=True
are_u_bored=False

In [13]:
a=None

In [14]:
name=['ram','john','ankit']

In [15]:
vals=[1,2.4,'python']

In [16]:
colors=['red',"green",'yellow']

In [17]:
likh_bhai=(1,11.4,5445444333344,'python')

In [18]:
set_datatype={1,2,1,"red",1112223333445556667777888,1.2}

In [19]:
car_info = {
    "brand":"ranault"
    "model": "Kwid"
    "year":"2018"
}

SyntaxError: invalid syntax (1955030807.py, line 3)

In [20]:
car_info = {
    "brand":"ranault"
    "model":"Kwid"
    "year":"2018"
}

SyntaxError: invalid syntax (3366140490.py, line 3)

In [21]:
car_info = {
    "brand" :"ranault"
    "model" : "Kwid"
    "year" :"2018"
}

SyntaxError: invalid syntax (2420199232.py, line 3)

In [22]:

car_info={
    "brand" :"ranault"
    "model" : "Kwid"
    "year" :"2018"
}

SyntaxError: invalid syntax (3552623441.py, line 3)

In [1]:
car_info = {
    "brand" :"ranault",
    "model" : "Kwid",
    "year" : 2018
    }

In [12]:
# Operator

operator june 6

In [2]:
#operator

In [3]:
#Operator

In [4]:
10+3

13

In [5]:
10-3

7

In [6]:
10*20

200

In [7]:
10/3

3.3333333333333335

In [8]:
10%3

1

In [9]:
10//3

3

In [10]:
10**3

1000

In [21]:
x=5

In [22]:
x+=5

In [23]:
x-=5

In [24]:
x*=5

In [25]:
x/=5

In [26]:
x//=5

In [27]:
x**=5

In [28]:
x==5

False

In [29]:
x!=5

True

In [32]:
x>5

False

In [33]:
x<5

True

In [34]:
x>=5

False

In [35]:
x<=5

True

In [36]:
x<5 and x>4

False

In [37]:
x<5 or x<4

True

In [38]:
not(x<5 and x<10)

False

In [39]:
"hello"=="hello"

True

In [40]:
'Hello'!="hello"

True

In [41]:
x=[2,3,4,5,6,6,7]

In [42]:
y=[33,3,4445,6667]

In [43]:
x==z

NameError: name 'z' is not defined

In [44]:
z==x

NameError: name 'z' is not defined

In [45]:
z=x

In [46]:
x==y

False

In [47]:
x is y

False

In [48]:
x is z

True

In [49]:
list1=['monday','tuesday','wednesday','Thursday','friday','saturday','sunday']

In [50]:
'monday'in list1

True

In [51]:
"Sunday"in list1

False

In [52]:
'Thursday'in list1

True

In [53]:
"Thursday"in list1

True

In [54]:
msg=input()

In [55]:
msg=input("Enter your name")

In [56]:
msg=input('who is youur favorite hero')

In [57]:
name=input('Enter your name')
age=input('enter your age:')

In [58]:
name=input('Enter your name:')
age=input('enter your age:')
school=('enter your school name:')

In [59]:
name=input('Enter your name:')
age=input('enter your age:')
school=('enter your school name:')

In [60]:
name=input('Enter your name:')
age=input('enter your age:')
school=input('enter your school name:')

In [61]:
type(age)

str

In [62]:
age=int(age)

In [63]:
type(age)

int

In [64]:
x=input("enter number 1")
y=input('enter number 2')

In [65]:
z=x+y

In [66]:
x=int(y)

In [67]:
y=int(y)

In [68]:
z=x+y

In [69]:
x=input("enter number 1")
y=input('enter number 2')
z=print(x+y)

556-987

In [70]:
x=input("enter number 1")
y=input('enter number 2')
z=print(x+y)

88445

In [71]:
x=input("enter number 1")
y=input('enter number 2')
z=print(x+y)
type(x)
type(y)

44334

str

In [72]:
x=input("enter number 1")
y=input('enter number 2')
z=print(x+y)
type(x)
type(y)
x=int(x)
y=int(y)
print(x+y)

1112-8886677
-8885565

In [ ]:
z=1-223
z1=int(z)
z
type(z)
z1
type(z1)

In [73]:
z=1.223
z1=int(z)
z
type(z)
z1
type(z1)

int

In [74]:
a=input('your name>>>')
type a

SyntaxError: invalid syntax (3608977329.py, line 2)

In [75]:
a=input('your name>>>')
type (a)

str

In [76]:
b=inputt('age of tiger')
type(b)

NameError: name 'inputt' is not defined

In [77]:
b=input('age of tiger')
type(b)

str

In [78]:
x=5
x=str(5)
type(x)

str

In [79]:
pi=3.145
p=int(pi)
type(p)

int

In [80]:
num=0
cal=bool(num)
type(cal)

bool

In [81]:
married="yes"
b=bool(married)
type(b)

bool

In [ ]:
gi