In [1]:
print (1)
print(2)
print(3)
print(4)

1
2
3
4

In [2]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)
print(21)
print(22)
print(23)
print(24)
print(25)
print(26)
print(27)
print(28)
print(29)
print(30)
print(31)
print(32)
print(33)
print(34)
print(35)
print(36)
print(37)
print(38)
print(39)
print(40)
print(41)
print(42)
print(43)
print(44)
print(45)
print(46)
print(47)
print(48)
print(49)
print(50)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [3]:
x="PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [4]:
# For Loop

In [5]:
#FOR LOOP

In [8]:
word = "this is sparta"
for i in word:
    print(i)

t
h
i
s

i
s

s
p
a
r
t
a

In [ ]:
fruits=["apple","banana","lemon"]
for item in fruits:
    print(f"i have {item}")

i have apple
i have banana
i have lemon

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [4]:
for i in range(6):
    print("U got point",i)

U got point 0
U got point 1
U got point 2
U got point 3
U got point 4
U got point 5

In [5]:
for num in range (2,11):
    print("sheep",num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [6]:
for num in range(1,10,3):
    print("level",num)

level 1
level 4
level 7

In [9]:
#reverse loop
for num in range(20,5,-1):
    print(num)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6

In [10]:
#reverse loop
for num in range(20,19,-1):
    print(num)

20

In [11]:
for i in range(10):
    print(i*"NA")

NA
NANA
NANANA
NANANANA
NANANANANA
NANANANANANA
NANANANANANANA
NANANANANANANANA
NANANANANANANANANA

In [12]:
for num in range (1,101):
    if num % 3 == 0 and num % 5 == 0:
        print(num)

15
30
45
60
75
90

In [13]:
places = ["Paris","London","New York","Madrid","Rome"]
for place in places:
    print(f'{places} contains {len(place)}characters')

['Paris', 'London', 'New York', 'Madrid', 'Rome'] contains 5characters
['Paris', 'London', 'New York', 'Madrid', 'Rome'] contains 6characters
['Paris', 'London', 'New York', 'Madrid', 'Rome'] contains 8characters
['Paris', 'London', 'New York', 'Madrid', 'Rome'] contains 6characters
['Paris', 'London', 'New York', 'Madrid', 'Rome'] contains 4characters

In [14]:
places = ["Paris","London","New York","Madrid","Rome"]
for place in places:
    print(f'{place} contains {len(place)}characters')

Paris contains 5characters
London contains 6characters
New York contains 8characters
Madrid contains 6characters
Rome contains 4characters

In [15]:
x=[1,2,3,1,2,3,4,1,2,1,1,1,1,1,1,1,1,1,1,1,1,4,4,4,5,6]
c=0
for i in x:
    if i==1:
        c+=1
print(c)

15

In [17]:
x=[1,2,3,1,2,3,4,1,2,1,1111111,1,1,1,1,1,1,1,1,1,1,4,4,4,5,6]
c=0
for i in x:
    if i==6:
        c+=1
print(c)

1