In [1]:
name = "Ankit Srivastava"

In [2]:
#indexing #slicing # applying function on strings #metods #iterating

In [2]:
len(name)

16

In [4]:
name [12]

't'

In [5]:
name [0]+name [1]+name [2]+name [3]+name [4]

'Ankit'

In [6]:
name [-1]

'a'

In [10]:
for i in range(6):
    print ((name [i]), end="")

Ankit

In [14]:
slice1= name [6:16]
print(slice1)

Srivastava

In [15]:
name="Vijay Deenanath Chauhan"

In [17]:
slice1= name [-1:-7]
print(slice1)

In [18]:
name [-7:len(name)]

'Chauhan'

In [19]:
slice1= name [:5]
print(slice1)

Vijay

In [20]:
slice1= name [0:5]
print(slice1)

Vijay

In [21]:
s="digipodium"
slice1=s[4:len(s)]
slice1=s[4:]
print(slice1)
print(slice1)

podium
podium

In [22]:
x="excellent"

In [23]:
x=chr(65)
print(x)

A

In [24]:
x=chr(2365)
print(x)

ऽ

In [25]:
x=chr(12365)
print(x)

き

In [26]:
x=chr(65000)
print(x)

﷨

In [28]:
for i in range(1:160):
    print(chr(i), end"")

SyntaxError: invalid syntax (3653753618.py, line 1)

In [29]:
y=ord("A")
print(y)

65

In [30]:
y=ord("a")
print(y)

97

In [34]:
y=ord("n")
print(y)

110

In [35]:
a="apple"

In [36]:
b="juice"
ab=a+b
print(ab)

applejuice

In [38]:
w1="this"
w2="is"
w3="Amazing"
msg=w1+w2+w3
print(msg)
msgs=w1+" "+w2+" "+w3
print(msgs)

thisisAmazing
this is Amazing

In [40]:
word="hi"
print(word*6)

hihihihihihi

In [41]:
word="hi!"
print(word*6)

hi!hi!hi!hi!hi!hi!

In [46]:
for i in range (25):

    print(word)

hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!
hi!

In [48]:
for i in range (1,6):

    print("*")

*
*
*
*
*

function

In [1]:
#formating
#utility
#validation

In [2]:
story="Once upon a time , there was a kingdom where people lived, The end"

In [3]:
len(story)

65

In [4]:
story.upper()

'ONCE UPON A TIME , THERE WAS A KINGDOM WHRE PEOPLE LIVED, THE END'

In [5]:
story.lower()

'once upon a time , there was a kingdom whre people lived, the end'

In [6]:
story.capitalize()

'Once upon a time , there was a kingdom whre people lived, the end'

In [7]:
story.title()

'Once Upon A Time , There Was A Kingdom Whre People Lived, The End'

In [8]:
story.swapcase()

'oNCE UPON A TIME , THERE WAS A KINGDOM WHRE PEOPLE LIVED, tHE END'

In [9]:
story.title().swapcase() #method is called chaining

'oNCE uPON a tIME , tHERE wAS a kINGDOM wHRE pEOPLE lIVED, tHE eND'

In [10]:
name="samuel"
print(name)

samuel

In [11]:
name.ljust(100)

'samuel                                                                                              '

In [12]:
print(name.rjust(100))

                                                                                              samuel

In [13]:
print(name.rjust(100,"*"))

**********************************************************************************************samuel

In [15]:
name=input("who are you?? ")
if not name.isalpha():
    print("name is invalid")
else:
    print("good job")

good job

In [20]:
x="myfile.png"
x.endswith("png")

True

In [18]:
"95996".isnumeric()

True

inportant stuff below

In [21]:
story.split()

['Once',
 'upon',
 'a',
 'time',
 ',',
 'there',
 'was',
 'a',
 'kingdom',
 'whre',
 'people',
 'lived,',
 'The',
 'end']

In [22]:
words=story.split()
print(words)

['Once', 'upon', 'a', 'time', ',', 'there', 'was', 'a', 'kingdom', 'whre', 'people', 'lived,', 'The', 'end']

In [24]:
story.split(",")

['Once upon a time ', ' there was a kingdom whre people lived', ' The end']

In [25]:
len(story.split())

14

In [26]:
message=["this","is","a","list"]
s=">>".join(message)
print(s)

this>>is>>a>>list

In [27]:
password=input("enter the password")
print(len(password),password)
password=password.strip()
print(len(password),password)

8 1223233
7 1223233

In [29]:
story.replace("e","A")

'OncA upon a timA , thArA was a kingdom whrA pAoplA livAd, ThA And'

In [30]:
story.replace("the","*")

'Once upon a time , *re was a kingdom whre people lived, The end'

In [31]:
another_story=story

In [32]:
story.count("a")

3

31

In [35]:
story.rfind("king")

31