In [1]:
my_tuples=(1,"Hello",3.4)
print(my_tuples)

(1, 'Hello', 3.4)

In [2]:
#nested Tupules
my_tuple=("mouse",[8,5,6],[1,2,2])
print(my_tuple)

('mouse', [8, 5, 6], [1, 2, 2])

In [3]:
my_tuples=3,4.,"apples" #python by dfaults stores data in Tuples
print(my_tuples)

(3, 4.0, 'apples')

In [5]:
new_tuple=("apple","p","e","r",4.5,-1)
print(new_tuple[0])

apple

In [7]:
new_tuple=("apple","p","e","r",4.5,-1)
print(new_tuple[-2])

4.5

In [9]:
#nested tuple
n_tuple=("mouse",[8,5,6],[1,2,2])
#nested index
print(n_tuple[0][3])
print(n_tuple[1][0])

s
8

In [10]:
#accesing tuple using slicing
my_tuple=("a","b","c","q","w","e","r")
print(my_tuple[1:4])

('b', 'c', 'q')

In [11]:
print(my_tuple[:-4])

('a', 'b', 'c')

In [12]:
print(my_tuple[:])

('a', 'b', 'c', 'q', 'w', 'e', 'r')

In [13]:
print(my_tuple[-5:])

('c', 'q', 'w', 'e', 'r')

In [15]:
print(my_tuple.count("q"))

1

In [16]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [17]:
print(("Repeat")*3)

RepeatRepeatRepeat

In [18]:
print(my_tuple.index("e"))

5

In [19]:
x=(1,2,3,4,5,4)

In [20]:
x1=list(x)
print(x1,x)

[1, 2, 3, 4, 5, 4] (1, 2, 3, 4, 5, 4)

In [21]:
xs=set(x)
print(x,xs)

(1, 2, 3, 4, 5, 4) {1, 2, 3, 4, 5}

In [22]:
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [23]:
my_set1={1.0,"oye",(1,2,3)}
print(my_set1)

{1.0, (1, 2, 3), 'oye'}

In [24]:
my_set2=set([1,2,3,3,4])
print(my_set2)

{1, 2, 3, 4}

In [25]:
my_set3={1,2,3,4,5}
print(my_set3)

{1, 2, 3, 4, 5}

In [27]:
my_set3={1,2,3,4,5}
print(my_set3)

{1, 2, 3, 4, 5}

a=set()
print(type(a))

In [ ]:
a= set() #initiate a emply set
print(type(a))  #check data type of set

<class 'set'>

In [4]:
my_set={1,3}
print(my_set)

{1, 3}

In [5]:
#add an element
my_set.add(2)
print(my_set)

{1, 2, 3}

In [6]:
#add mltiple elements
my_set.update([2,3,4]) #set removes duplicate values
print(my_set)

{1, 2, 3, 4}

In [7]:
#add list and set
my_set.update([4,5],{1,7,8})
print(my_set)

{1, 2, 3, 4, 5, 7, 8}

In [8]:
my_set.discard(4)    #using discard funct will not give error if the values is not available
print(my_set)

{1, 2, 3, 5, 7, 8}

In [9]:
my_set.remove(7)
print(my_set)

{1, 2, 3, 5, 8}

In [10]:
my_set.pop()
print(my_set)

{2, 3, 5, 8}

In [11]:
x=my_set[:3] # as the data in unordered indexing is not possible # we cannot pass set in set
print(x)

TypeError: 'set' object is not subscriptable

In [12]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [13]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
A.union(B) #same as | "pipe fuunction"

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
B.union(A) #the order of using/placing AB doesnt effect result

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
#set intersection
print(A&B)
A.intersection(B) # both are same

{4, 5}

{4, 5}

In [22]:
#use "-" to find unique values
print(A-B)   #A.difference(B) will give same output
print(B-A)   #B.difference(A) will give same output

{1, 2, 3}
{8, 6, 7}

In [25]:
# operator ^ gives unique values of both set
print(A ^ B)  # A.symmetric_difference(B) will give the same output

{1, 2, 3, 6, 7, 8}

In [30]:
z={"mobile","charger","TV","washing machine","pump","Transformer"}
x={"Transformer","pump","dish washer","Inverter"}
print(z|x)  #union
print(z&x)  #intersection
print(z-x)  #difference
print(x-z)  #difference
print(z^x)  #systematic difference

{'pump', 'TV', 'Inverter', 'charger', 'washing machine', 'dish washer', 'mobile', 'Transformer'}
{'pump', 'Transformer'}
{'charger', 'mobile', 'washing machine', 'TV'}
{'Inverter', 'dish washer'}
{'TV', 'Inverter', 'charger', 'washing machine', 'dish washer', 'mobile'}

#dictionary

In [31]:
my_dict={1:"apple",2:"ball"}

In [32]:
#get() use example
my_dict2={"name":"Jack","age":25}
print(my_dict2["name"])

Jack

In [33]:
print(my_dict2["age"])

25

In [34]:
print(my_dict2["address"])

KeyError: 'address'

In [35]:
print(my_dict2.get("address")) #extracts unavailable value with "None" error

None

In [36]:
my_dict2["age"]=89

In [37]:
my_dict2["address"]= "vasant vihar "

In [38]:
print(my_dict2)

{'name': 'Jack', 'age': 89, 'address': 'vasant vihar '}

In [47]:
Squares={1:2,2:3,4:5,5:420}

In [42]:
print(Squares.pop(4)) #removes a perticular and returns the same

5

In [43]:
print(Squares.popitem()) # removes the last value of set

(5, 420)

In [44]:
Squares.clear() # deletes all values

In [45]:
print(Squares)

{}

In [46]:
#delete variable/the dictionary intself
del Squares

In [49]:
for i in Squares:
    print(i)

1
2
4
5

In [50]:
for i in Squares:   # will only print stored value of keyword
    print(Squares[i])

2
3
5
420

In [52]:
for k,v in Squares.items():   #whole data with index/key/name & its value
    print(k,v)

1 2
2 3
4 5
5 420

In [53]:
student1={"Name":"Jay","math":50,"hindi":45,"science":50}
student2={"Name":"veeru","math":501,"hindi":415,"science":510}
student3={"Name":"Thakur","math":50,"hindi":5,"science":0}
student4={"Name":"Shyam","math":45,"hindi":57,"science":7}
student5={"Name":"raj","math":23,"hindi":43,"science":0}

In [54]:
class_10={"Name":"Jay","math":50,"hindi":45,"science":50,"Name":"veeru","math":501,"hindi":415,"science":51,"Name":"Thakur","math":50,"hindi":5,"science":0,"Name":"Shyam","math":45,"hindi":57,"science":7, "Name":"raj","math":23,"hindi":43,"science":0}

In [55]:
print(class_10)

{'Name': 'raj', 'math': 23, 'hindi': 43, 'science': 0}

In [65]:
student1=  {
    "Amit": {"eng":98,"sci":75,"sst":45,"Evs":77} ,
    "Shyam":{"eng":98,"sci":75,"sst":45,"Evs":77} ,
    "Ritu": {"eng":98,"sci":75,"sst":45,"Evs":77} ,
          }

In [67]:
student1["Amit"]["Evs"]

77

In [74]:
for name, marks in student1.items():
    print("Student :",name)
    for sub,mark in marks.items():
        print(f'=> {sub}: {mark}')
    print('-'*20)

Student : Amit
=> eng: 98
=> sci: 75
=> sst: 45
=> Evs: 77
--------------------
Student : Shyam
=> eng: 98
=> sci: 75
=> sst: 45
=> Evs: 77
--------------------
Student : Ritu
=> eng: 98
=> sci: 75
=> sst: 45
=> Evs: 77
--------------------