In [12]:
import pandas as pd

In [3]:
pd.DataFrame({'yes':[50,21], 'no':[131,2]})

   yes   no
0   50  131
1   21    2

In [4]:
pd.DataFrame({'Bob':['i liked it','i was awful'],'sue':['pretty good','bland']},index=['product A','product b'])

                   Bob          sue
product A   i liked it  pretty good
product b  i was awful        bland

In [5]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([10,20,30],index=['2015 sales','2016 sales','2017 sales'],name='Product A')

2015 sales    10
2016 sales    20
2017 sales    30
Name: Product A, dtype: int64

In [9]:
canada_data=pd.read_excel(r"E:\360digit\Canada.xlsx")

In [10]:
canada_data.shape

(49, 38)

In [11]:
canada_data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United Nations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Population Division,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df=pd.read_excel(r"E:\360digit\Canada1.xlsx",index_col=0)
df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Nations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Population Division,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
fruits = pd.DataFrame({'Apples':[30],'Banana':[21]})

In [19]:
fruits=pd.DataFrame([[30,21]],columns=["Apple","bananas"])

In [20]:
fruits

   Apple  bananas
0     30       21

In [33]:
fruis_Sale=pd.DataFrame([[35,21],[41,34]],columns=['apple','bananas'], index=["2017 Sales",'2018 Sales'])

In [35]:
pd.DataFrame([[35, 21], [41, 34]], columns=['Apples', 'Bananas'],
                index=['2017 Sales', '2018 Sales'])

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [34]:
fruis_Sale

            apple  bananas
2017 Sales     35       21
2018 Sales     41       34

In [39]:
quantities=['4 cups','1 cup','2 large','1 can']
items=['flour','milk','egg','spam']
ingredient=pd.Series(quantities,index=items,name="Dinner")

In [40]:
ingredient

flour     4 cups
milk       1 cup
egg      2 large
spam       1 can
Name: Dinner, dtype: object

In [ ]:
pd.write_tocsv